* {
    box-sizing: border-box;
}

body, button {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
}

button {
    border: 0;
    padding: .5em 1em;
    cursor: pointer;
    background: white;
    text-transform: uppercase;
}

button:hover, button:hover i {
    background-color: var(--accent-color);
    color: white;
}

::placeholder {
    color: var(--accent-color);
    font-family: 'Roboto', sans-serif;
}

button, i {
    color: var(--accent-color);
}