.container {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.editable {
    flex: 1;
    padding: 2em;
    background: rgb(236, 236, 236);
}

.toolbar {
    display: flex;
}

.button {
    width: auto;
    margin: 1em 1em 1em 0;
}

.search {
    flex: 1;
}

.search input {
    border: 0;
    height: 100%;
    padding: 0 2em;
    width: 100%;
}